/* This file will hold styles that are loaded using the same media query as the wide grid. */
#header-contact-info {
	font-size: 1.3em;
	margin-bottom: 0px;
	margin-top: 10px;
}
/*
  Set padding in menu.
*/
.nice-header-setup ul li {
	width: 135px;
}
.nice-header-setup a {
	font-size: 16px;
}
/*
  Styling for the rateitall gadget in narrow form.
*/
#ria_rating_gadget iframe, .ria iframe, .ria_gadget_footer{
	width: 376px;
}
#ria_rating_gadget {
	width: 374px!important;
}
/*
  Styling for student page state into list.
*/
.state-info-list .view-footer {
	letter-spacing: 3px;
}

div.region.grid-8 div.tableize article {
  width: 214px;
}
